@using prjMvcDemo.Models
@model List<CCustomer>
@{
	ViewBag.Title = "List";
}

<h2>客戶資料一覽表</h2>
<a href="~/Customer/Create">新增客戶</a>
@using (Html.BeginForm())
{
	<label>關鍵字</label>
	@Html.TextBox("txtKeyword");
	<input type="submit" value="查詢">
}

<p>
	<table class="table table-hover">
		<tr>
			<td>序</td>
			<td>姓名</td>
			<td>電話</td>
			<td>電子郵件</td>
			<td>地址</td>
		</tr>
		@{
			int count = 0;
			foreach (CCustomer c in Model)
			{
                count++;
                <tr>
                    <td>@count</td>
                    <td>@c.fName</td>
                    <td>@c.fPhone</td>
                    <td>@c.fEmail</td>
                    <td>@c.fAddress</td>
                    <td>@Html.ActionLink("修改", "Edit", "Customer", new { id=c.fId}, null)</td>
                    <td>@Html.ActionLink("刪除", "Delete", "Customer", new { id=c.fId}, new {onclick="return confirm('確定要刪除嗎?')"})</td>
                </tr>
			}
		}
	</table>
</p>

