@model IEnumerable<prjMvcDemo.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>線上購物</h2>

<p>
    @Html.ActionLink("新增商品", "Create")
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
		<td>
			<img src="~/Images/@item.fImagePath" width="150" />
			@Html.DisplayFor(modelItem => item.fName)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.fQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPrice)
        </td>
        <td>
            @Html.ActionLink("加入購物車", "AddToCart", new { id=item.fId }) |
            @Html.ActionLink("加入購物車", "AddToSession", new { id=item.fId }) |
        </td>
    </tr>
}

</table>
